<turbo-stream target="annotations_for_line_<%= @annotation.line_number %>" action="append">
  <template>
    <div class="text-purple-600 text-sm">💬 <%= @annotation.content %></div>
  </template>
</turbo-stream>
